body {
	font-family: 'Raleway', 'Open Sans', Arial, sans-serif;
	color: #666;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

section {
	overflow: hidden;
	position: relative;
	padding: 50px 0;
}

section h2 {
	margin-bottom: 60px;
}

section h2,
h3.subtitle {
	display: block;
	text-align: center;
}

h3.subtitle {
	margin-bottom: 30px;
	font-size: 20px;
}

.mobile-nav {
	display: none;
}

.navbar {
	width: 100%;
	padding: 0;
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}

.nav-wrapper {
	width: 100%;
}

.nav li {
	width: 100%;
	display: block;
}

#main-nav li {
	width: auto;
}

.nav>li>a {
	padding: 0;
	display: inline-block;
}

.nav>li>a:focus,
.nav>li>a:hover {
	background-color: transparent;
}

.dark {
	background-color: #303236;
	color: #bfbfc1;
}

.spacer {
	display: block;
	width: 100%;
	height: 20px;
}

.carousel-control {
	background-image: none !important;
}

.loading {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: block;
	background: #fff;
	background: rgba(255,255,255,.7);
	z-index: 999;
}

.loading svg {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#header-top {
	display: block;
	position: fixed;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: 80px;
	background: #fff;
	border-radius: 3px;
	z-index: 1;
	-webkit-box-shadow: 0px -7px 0px 0px rgba(255,255,255,0.25);
	-moz-box-shadow: 0px -7px 0px 0px rgba(255,255,255,0.25);
	box-shadow: 0px -7px 0px 0px rgba(255,255,255,0.25);
}

#header-top.sticky {
	width: 100%;
	top: 0;
	left: 0;
	transform: translateX(0);
	background: rgba(255, 255, 255, .9);
}

#logo {
	margin-left: 20px;
	height: 80px;
}

#main-nav {
	line-height: 80px;
	float: right;
	font-size: 0;
}

#main-nav a {
	color: #333;
	display: block;
	line-height: 38px;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	box-sizing: border-box;
	padding: 19px 25px;
	border-bottom: 4px solid transparent;
}

#main-nav a:hover,
#main-nav a.active {
	color: #333;
	text-decoration: none;
	border-bottom: 4px solid #006db7;
}

#slider {
	position: relative;
	height: 700px;
	overflow: hidden;
}

#slider .carousel-item {
	width: 100%;
	height: inherit;
}

#slider .carousel-item img {
	width: 100%;
	height: 700px;
	object-fit: cover;
}

#slider .arrow {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	font-size: 25px;
	color: #fff;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: rgba(0, 0, 0, .3);
	cursor: pointer;
	transition: all .3s;
}

#slider .arrow:hover {
	background: rgba(0, 0, 0, .6);
	text-decoration: none;
}

#slider .arrow-left {
	left: 0;
	right: auto;
}

#slider .arrow-right {
	right: 0;
	left: auto;
}

#slider .carousel-indicators li {
	opacity: .6;
}



main {
	display: block;
}



.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.vertical-nav li {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.img-cover {
	object-fit: cover;
	width: 100%;
}

.section {
	padding: 60px 0;
}

/* INDEX */

#quote-section {
	background: url("../img/earth.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	padding-bottom: 100px;
}

#quote-section input {
	margin-bottom: 30px;
}

#quote-section h3 {
	font-size: 20px;
}

#quote-section .small-images {
	margin-top: 40px;
}

#quote-section .small-img {
	height: 200px;
	margin-bottom: 20px;
}

#icons {
	text-align: center;
}

#icons p {
	margin-top: 20px;
	font-size: 16px;
}

footer {
	padding-top: 60px;
	background-color: #16354e;
	/*color: #d8d8d8;*/
	color: #9bb3c7;
	font-size: 14px;
}

footer h3 {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 30px;
	color: #fff;
}

footer a {
	color: #9bb3c7;
	display: inline-block;
}

footer a:hover,
footer a.active {
	color: #6c7d8b;
	text-decoration: none;
}

footer .copyright {
	background: #0b2a40;
	margin-top: 50px;
	padding: 20px 0;
}

footer .copyright p {
	margin: 0;
}

#contact i,
#footer-contact i {
	color: #1874c1;
	display: inline-block;
	width: 22px;
	margin-right: 20px;
	text-align: center;
}

section#map {
	padding: 0;
	background: #000;
}

section#map .mapouter {
	opacity: .8;
	transition: all .3s;
}

section#map .mapouter:hover {
	opacity: 1;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1024px) {

	#slider {
		height: 400px;
	}

	#slider .item img {
		height: 400px;
	}

}

@media only screen and (max-width: 767px) {

	body {
		padding-top: 80px;
	}

	#header-top,
	#header-top.sticky {
		overflow: visible;
		width: 100%;
		top: 0;
		left: 0;
		transform: translateX(0);
		height: auto;
		padding: 0 25px;
		background: rgba(255, 255, 255, 1);
	}

	#main-nav {
		float: none;
	}

	#main-nav li {
		width: 100%;
	}

	#main-nav li a {
		padding: 5px;
	}

	.mobile-spacer {
		display: block;
		width: 100%;
		height: 20px;
	}
  
	#icons i.fas {
		font-size: 2em;
	}

	.spacer {
		height: 0;
	}

	#icons p {
		font-size: 12px;
	}

	input {
		margin: 2px 0;
	}

}


/* ANIMATIONS */

.slide-fade {
  -webkit-animation-name: slide-fade;
  -webkit-animation-duration: 1s;
  animation-name: slide-fade;
  animation-duration: 1s;
}

@-webkit-keyframes slide-fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes slide-fade {
  from {opacity: .2} 
  to {opacity: 1}
}